.topicDetailBox dl {
  border: 1px solid #CCCCCC;
}

.topicDetailBox dt {
  float: left;
  width: 100px;
  padding: 5px;
  text-align: center;
}

.topicDetailBox dd {
  zoom: 1;
  margin-left: 110px;
  border-left: 1px solid #CCCCCC;
}

.topicDetailBox dd div {
  border-top: 1px solid #CCCCCC;
}

.topicDetailBox dd div p {
  padding: 5px;
}

.topicDetailBox dd div.title {
  border-top: none;
}

.topicDetailBox dd ul.photo,
#communityEvent table ul.photo{
  padding: 5px;
}

.topicDetailBox dd ul.photo li,
#communityEvent table ul.photo li{
  display: inline;
  margin-left: 6px;
}

.topicDetailBox dd div.attachFile {
  padding: 16px 5px;
}

.topicDetailBox div.operation {
  padding: 10px 0;
}

.communityTopic ul.articleList,
.communityEvent ul.articleList {
  background:transparent url(../../images/icon_2.gif) no-repeat scroll 3px 0.4em;
  padding-bottom:5px;
  padding-left:85px;
  text-indent:-72px;
}

.communityTopic div.moreInfo ul.moreInfo,
.communityEvent div.moreInfo ul.moreInfo {
  margin: 0 2px 0 auto;
  width: 10em;
}



