.comment-form-loader {
  display: none;
  width: 285px;
  padding: 5px;
  border-top: 1px solid #DDD;
  text-align: center;
}

.comment-form-loader img {
  max-width: 20px;
  max-height: 20px;
}

.gadget_header {
  margin-bottom: 5px;
  height: 26px;
  line-height: 26px;
  color: #FFFFFF;
  font-size: 100%;
  text-align: center;
}

strong, .error, .error_list {
  color: #ff0000;
}

.help {
  margin-bottom: 5px;
}

.row {
  padding: 5px;
}

.parts-label > label {
  font-weight: bold;
}

.parts-body {
  padding-right: 18px;
}

input[type="text"], textarea {
  width: 100%;
}

.parts-date > input[type="text"], .parts-date > select {
  width: 30%;
}

.parts-photo > ul {
  list-style: none;
}

.parts-button {
  padding-right: 18px;
}
